@import "reset";
@import "themes/dark";
@import "themes/normal";
@import "variables/global";

@font-face {
  font-family: consolas;
  src: url("../fonts/consolas.woff") format("woff");
  font-style: normal;
}

body {
  font-family: var(--font-family-main);
  font-size: var(--font-m);
  background-color: var(--bg-color);
  color: var(--primary-color);
  min-height: 100vh;
}

.app {
  min-height: 100vh;
}

.page-wrapper {
  padding: 15px 20px;
  width: 100%;
}

.content-page {
  display: flex;
}
