@import "reset";
@import "themes/dark";
@import "themes/normal";
@import "themes/orange";
@import "variables/global";

@font-face {
  font-family: consolas;
  src: url("../fonts/consolas.woff") format("woff");
  font-style: normal;
}

body {
  font-family: var(--font-family-main);
  font-size: var(--font-m);
  background-color: var(--bg-color);
  color: var(--primary-color);
  min-height: 100vh;
}

.app {
  min-height: 100vh;
}

.content-page {
  display: flex;
}

button {
  display: block;
}

::-webkit-scrollbar {
  width: 10px;
  height: 7px;
}

/* Scrollbar track */
::-webkit-scrollbar-track {
  border-radius: 5px;
}

/* Scrollbar thumb */
::-webkit-scrollbar-thumb {
  background: var(--secondary-color);
  border-radius: 5px;
}
