.avatar {
  margin: 0 auto 30px;
}

.title {
  margin-bottom: 10px;
}

.skeleton {
  margin-bottom: 15px;
}

.subtext {
  margin-bottom: 7px;
}

.articleInfo {
  display: flex;
  margin-bottom: 5px;

  div {
    margin-left: 5px;
  }
}

.block {
  margin-top: 24px;
}

.avatarWrapper {
  margin-bottom: 40px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.blockItem {
  margin-bottom: 30px;
}

.backButton {
  margin-bottom: 15px;
}
