.avatar {
  margin: 0 auto 30px;
}

.title {
  margin-bottom: 10px;
}

.skeleton {
  margin-bottom: 15px;
}

.subtext {
  margin-bottom: 7px;
}

.articleInfo div {
  margin-left: 5px;
}

.block {
  margin-top: 24px;
}

.avatarWrapper {
  margin-bottom: 40px;
}

.blockItem {
  margin-bottom: 30px;
}

.backButton {
  margin-bottom: 15px;
}
