{
    "tabWidth": 4,
    "printWidth": 120,
    "semi": true,
    "singleQuote": true,
    "trailingComma": "all",
    "bracketSpacing": true,
    "bracket-same-line": false,
    "arrowParens": "always"
}
