.Modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  pointer-events: none;
  z-index: var(--modal-z-index);
}

.overlay {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--overlay-color);
  opacity: var(--modal-opacity);
}

.content {
  padding: 20px;
  max-width: 60%;
  transform: scale(0.5);
  transition: 0.3s transform;
  background-color: var(--bg-color);
  border-radius: 12px;
}

.opened {
  opacity: 1;
  z-index: auto;
  pointer-events: auto;

  .content {
    transform: scale(1);
  }
}

.closed {
  .content {
    transform: scale(0.2);
  }
}
