.Button {
  padding: 10px 15px;
  color: var(--primary-color);
}

.clear {
  padding: 0;
  border: none;
  outline: none;
  background: none;
}

.outline,
.outline_inverted,
.outline_red {
  background: none;
}

.outline {
  border: 1px solid var(--primary-color);
}

.background {
  border: none;
  background-color: var(--bg-color);
  color: var(--secondary-color);
}

.background_inverted {
  border: none;
  background-color: var(--inverted-bg-color);
  color: var(--inverted-secondary-color);
}

.square {
  padding: 0;
}

.square.size_m {
  width: var(--font-line-m);
  height: var(--font-line-m);
}

.square.size_l {
  width: var(--font-line-l);
  height: var(--font-line-l);
}

.square.size_xl {
  width: var(--font-line-xl);
  height: var(--font-line-xl);
}

.size_m {
  font-size: var(--font-size-m);
}

.size_l {
  font-size: var(--font-size-l);
}

.size_xl {
  font-size: var(--font-size-xl);
}

.disabled {
  opacity: 0.5;
}

.outline_red {
  border: 1px solid var(--red-light);
}

.outline_inverted {
  border: 1px solid var(--inverted-primary-color);
}
