.SideBar {
  position: relative;
  width: var(--sidabar-width);
  height: calc(100vh - var(--navbar-height));
  background-color: var(--inverted-bg-color);
  transition: width 0.3s;
  flex-shrink: 0;
}

.switchers {
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translate(-50%, 50%);
}

.langBtn {
  margin-left: 30px;
}

.toggleBtn {
  position: absolute;
  bottom: 32px;
  right: -32px;
}

.links {
  padding-left: 20px;
  padding-right: 20px;
}

.collapsed {
  width: var(--sidebar-collapsed-width);

  .switchers {
    flex-direction: column;
  }

  .langBtn {
    margin-left: 0;
    margin-top: 10px;
  }

  .link {
    justify-content: center;

    span {
      opacity: 0;
      width: 0;
    }
  }

  .icon {
    margin-right: 0;
  }
}
