.options {
  background-color: var(--listbox-bg);
  position: absolute;
  z-index: var(--listbox-z-index);
  border-radius: 12px;
  box-shadow: 4px 4px 8px var(--listbox-bg);
}

.item {
  padding: 10px 20px;
  cursor: pointer;
  min-width: max-content;
}
