.Navbar {
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
  height: var(--navbar-height);
  background-color: var(--inverted-bg-color);
  display: flex;
  align-items: center;
}

.authBtn {
  margin-left: auto;
}
