.ProfileCard {
  padding: 20px;
  border: 2px solid var(--primary-color);
}

.field {
  margin-bottom: 10px;
}

.loading,
.error {
  height: 300px;
}

.editing {
  border: 2px solid var(--inverted-primary-color);
}

.avatar {
  margin-bottom: 15px;
}
