.ProfileCard {
  padding: 20px;
  border: 2px solid var(--primary-color);
}

.body {
  display: flex;
  flex-direction: column;
}

.field {
  margin-bottom: 10px;
}

.loading,
.error {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
}

.editing {
  border: 2px solid var(--inverted-primary-color);
}

.avatar {
  margin-bottom: 15px;
}
