.CommentCard {
  margin-bottom: 20px;
  padding: 16px;
  border: 1px solid var(--primary-color);
}

.avatar {
  margin-right: 8px;
}

.header {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}
